@import '../../../styles/mixins';

.section {
  background-color: rgb(152 83 33 / 10%);
  padding: 60px 0;
  overflow: hidden;
  @include padding-container();
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.title {
  padding-bottom: 30px;

  p {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-size: 1rem;
  }
}

.listArticles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  transform: translate3d(0, -100px, 0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;

  &.inView {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 765px) {
  .section {
    padding: 30px 0;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .listArticles {
    justify-content: center;
    align-items: center;
  }
}