$breakpoint_small: 640px;
$breakpoint_medium: 1024px;
$breakpoint_large: 1199px;
$breakpoint_extra_large: 1920px;

$default_font: 'Poppins',
sans-serif;

$color_black: #040b14;
$color_brown: #985321;
$semi_black: #2c2f3f;
$white_100: #ffffff;
$dark_brown: #462d2d;